body {
    background-color: bisque;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
h1 {
    color: green;
}
.userAlignment {
    width: 150px;
    margin-right: 100px;
}
.content-container {
    display: flex;
    /* display: inline-block; */
    width: 500px;
    background-color: lightgrey;
    height: 30px;
    line-height: 30px;
    padding: 10px;
    border-bottom: 1px solid;
}
.btn-container {
    
}